{% extends "principal/base.html" %} 

{% load static %}
{% block content %}

  <br>
  <div class="container">
    <img src="{% static 'proyectowebApp/imagenes/simbolo.jpg' %}" alt="" width="120" height="120" class="d-inline-block align-text-top"></a>
    </div>
  <br>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Historia Alarico Gomez</h1>
        <p class="fs-5 text-muted">Esta zona se encuentra bajo construccion por el momento</p>
      </div>
<br>

 

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Historia del &nbsp;<span class="text-muted">Liceo Nacional Alarico Gomez</span></h2>
              <p class="lead">En construccion</p>
            
             
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'proyectowebApp/imagenes/carrusel/6p.jpg' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
      
            </div>
          </div>
          
{% endblock %}